.Modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    pointer-events: none;
}

.overlay {
    background-color: var(--modal-overlay-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.content {
    background-color: var(--bg-color);
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    transform: scale(0.5);
    transition: transform 0.3s;
}

.opened {
    z-index: var(--modal-z-index);
    opacity: 1;
    pointer-events: auto;

    .content {
        transform: scale(1);
    }

    .closing {
        transform: scale(0.5);
    }
}
