.app.light {
    --bg-color: lightgray;
    --bg-color-inverted: blue;
    --primary-color: blue;
    --secondary-color: lightslategray;
    --primary-color-inverted: green;
    --secondary-color-inverted: red;
}
